$font-main: 'Open Sans', sans-serif;
$font-monospace: Cousine, Consolas, monospace;
$color-theme: #0F9D58;

@mixin user-select($value: none) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
body, html {
    overflow: hidden;
}
body {
    font-family: $font-main;
    font-size: 16px;
    background: #EEE;
    cursor: default;
    @include user-select;
}
ul, ol {
    display: block;
    list-style: none;
}
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

$header-height: 56px;
#header {
    position: absolute;
    top: 0; right: 0; left: 0;
    height: $header-height;
    background: $color-theme;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}
#title {
    float: left;
    height: $header-height;
    line-height: $header-height;
    padding: 0 24px;
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    #version {
        margin: 0 5px;
        font-size: 0.75em;
        color: rgba(255, 255, 255, 0.7);
    }
}
#nav {
    position: relative;
    float: left;
    height: $header-height;
}
$nav-item-width: 120px;
.nav-item {
    display: block;
    float: left;
    width: $nav-item-width;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    transition: background 0.1s ease;
    cursor: pointer;
}
.nav-item:hover {
    background: rgba(255, 255, 255, 0.05);
}
.nav-item:active {
    transition: background 0s;
    background: rgba(255, 255, 255, 0.09);
}
#nav-underline {
    position: absolute;
    bottom: 0;
    width: $nav-item-width;
    height: 3px;
    background: rgba(255, 255, 255, 0.9);
    transition: left 0.18s ease;
}
$nav-items: 4;
@for $i from 1 through $nav-items {
    .nav-item:nth-child(#{$i}).selected ~ #nav-underline {
        left: ($i - 1) * $nav-item-width;
    }
}
$toolbar-height: 40px;
$blocks-spacing: 15px;
#toolbar {
    position: absolute;
    top: $header-height + $blocks-spacing;
    right: $blocks-spacing;
    left: $blocks-spacing;
    height: $toolbar-height;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
#toolbar > li {
    display: none;
}
#toolbar > li.active {
    display: block;
}
#formula {
    font-family: $font-monospace;
    height: 28px;
    margin: ($toolbar-height - 28px) / 2 10px;
    box-sizing: border-box;
    padding: 0 2px;
    border-bottom: 1px solid #DDD;
    font-size: 0.95em;
    line-height: 27px;
    color: #424242;
    letter-spacing: 0.03em;
    overflow: hidden;
    white-space: nowrap;
    transition: border-bottom-color 0.135s ease;
}
#formula[contenteditable="true"] {
    border-bottom-color: #CCC;
    cursor: text;
}
#formula[contenteditable="true"]:focus {
    border-bottom-color: fade-out($color-theme, 0.25);
}
#formula-error {
    float: right;
    height: 28px;
    margin: 0 15px;
    font-size: 0.875em;
    color: #D33D2C;
    text-shadow: 0 0 0 #D33D2C;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 50%;
    transition: max-width 0.4s ease, margin 0.4s ease;
}
#formula-error:empty {
    margin: 0;
    max-width: 0;
}

#main {
    position: absolute;
    top: $header-height + $blocks-spacing + $toolbar-height + $blocks-spacing;
    right: $blocks-spacing;
    bottom: $blocks-spacing;
    left: $blocks-spacing;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    overflow: hidden;
}
#container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#table {

    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #D9D9D9;
    border-radius: inherit;

    tr {
        height: 22px;
    }
    td {
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        font-size: 14px;
        color: #1F1F1F;
        font-weight: 400;
        white-space: nowrap;
    }
    td.column-header, td.row-header {
        position: relative;
        background: #F3F3F3;
        background-clip: padding-box;
        font-weight: 600;
        color: #424242;
        text-align: center;
    }
    td.row-header {
        width: 70px;
        min-width: 70px;
    }
    td.column-header {
        min-width: 100px;
    }

    .dragger-vertical {
        position: absolute;
        top: 0; bottom: 0;
        right: -3px;
        width: 6px;
        cursor: ew-resize;
    }
    .dragger-horizontal {
        position: absolute;
        right: 0; left: 0;
        bottom: -3px;
        height: 6px;
        cursor: ns-resize;
    }

    $selection-border-style: 2px solid #4285F4;
    td.selected {
        background-color: #ECF3FF;
    }
    td.selected-first {
        background-color: #FFF;
    }
    td.selection-border-top {
        border-top: $selection-border-style !important;
    }
    td.selection-border-right {
        border-right: $selection-border-style !important;
    }
    td.selection-border-bottom {
        border-bottom: $selection-border-style !important;
    }
    td.selection-border-left {
        border-left: $selection-border-style !important;
    }

    td.error {
        background-image: url(../assets/images/error.png);
        background-size: 24px 24px;
        font-weight: 600 !important;
        color: #C53929 !important;
        text-align: center !important;
    }
    td.error::after {
        content: "ERROR";
    }

}
#hidden {
    position: fixed;
    top: -99px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}
#overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    pointer-events: none;
    z-index: 65536;
}
#overlay.sensible {
    pointer-events: auto;
}
.drag-guide {
    display: none;
    position: absolute;
}
#drag-guide-vertical {
    top: 0; bottom: 0;
    width: 0;
    border-left: 1px dashed rgba(0, 0, 0, 0.5);
}
#drag-guide-horizontal {
    left: 0; right: 0;
    height: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.5);
}