$font-main: 'Open Sans', sans-serif;
$font-monospace: Cousine, Consolas, monospace;
$color-theme: #0F9D58;

@mixin user-select($value: none) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
body, html {
    overflow: hidden;
}
body {
    font-family: $font-main;
    font-size: 16px;
    background: #EEE;
    cursor: default;
    @include user-select;
}
ul, ol {
    display: block;
    list-style: none;
}
.hidden {
    display: none;
}

@mixin control-hover-light($selector) {
    #{$selector} {
        transition: background 0.135s ease;
    }
    #{$selector}:hover {
        background: rgba(0, 0, 0, 0.05);
    }
}
@mixin control-hover-active-light($selector) {
    @include control-hover-light($selector);
    #{$selector}:active {
        transition: background 0s;
        background: rgba(0, 0, 0, 0.09);
    }
}

$header-height: 56px;
#header {
    position: absolute;
    top: 0; right: 0; left: 0;
    height: $header-height;
    background: $color-theme;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
}
#title {
    float: left;
    height: $header-height;
    line-height: $header-height;
    padding: 0 24px;
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    #version {
        margin: 0 5px;
        font-size: 0.75em;
        color: rgba(255, 255, 255, 0.7);
    }
}
#nav {
    position: relative;
    float: left;
    height: $header-height;
}
$nav-item-width: 120px;
.nav-item {
    display: block;
    float: left;
    width: $nav-item-width;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    transition: background 0.1s ease;
    cursor: pointer;
}
.nav-item:hover {
    background: rgba(255, 255, 255, 0.05);
}
.nav-item:active {
    transition: background 0s;
    background: rgba(255, 255, 255, 0.09);
}
#nav-underline {
    position: absolute;
    bottom: 0;
    width: $nav-item-width;
    height: 3px;
    background: rgba(255, 255, 255, 0.9);
    transition: left 0.18s ease;
}
$nav-items: 4;
@for $i from 1 through $nav-items {
    .nav-item:nth-child(#{$i}).selected ~ #nav-underline {
        left: ($i - 1) * $nav-item-width;
    }
}
$toolbar-height: 40px;
$blocks-spacing: 15px;
#toolbar {
    position: absolute;
    top: $header-height + $blocks-spacing;
    right: $blocks-spacing;
    left: $blocks-spacing;
    height: $toolbar-height;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
#toolbar > li.active {

    display: block;

    .controls-group {
        position: relative;
        float: left;
        padding: 0 8px 0 9px;
    }
    .controls-group:not(:first-child)::before {
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0;
        height: 24px;
        margin: auto 0;
        border-left: 1px solid #E2E2E2;
    }
    .icon {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
        text-align: center;
        margin: 5px 3px;
        border-radius: 4px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.56);
    }

    .toggle, .switch, .button {
        cursor: pointer;
    }
    @include control-hover-light(".toggle:not(.disabled):not(.active)");
    @include control-hover-light(".switch:not(.disabled):not(.active)");
    @include control-hover-active-light(".button:not(.disabled)");
    .toggle.active, .switch.active {
        background: #C8C8C8;
    }
    .toggle.disabled, .switch.disabled, .button.disabled {
        color: rgba(0, 0, 0, 0.33);
        cursor: default;
    }

    .dropdown-toggle {
        float: none;
        position: relative;
        padding-right: 12px;
    }
    .dropdown-toggle::after {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0;
        width: 0;
        height: 0;
        margin: auto 4px;
        border: 4px solid transparent;
        border-top: 5px solid rgba(0, 0, 0, 0.5);
        border-bottom-width: 0;
        pointer-events: none;
    }
    .dropdown-toggle.disabled::after {
        border-top-color: rgba(0, 0, 0, 0.25);
    }
    .dropdown-wrap {
        position: relative;
        float: left;
    }
    .dropdown {
        position: absolute;
        top: 38px;
        left: 8px;
        z-index: 65536;
        background: #FFF;
        border-radius: 3px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.16);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.135s ease;
    }
    .dropdown-toggle.icon + .dropdown {
        left: 3px;
    }
    .dropdown-toggle.active + .dropdown {
        opacity: 1;
        pointer-events: auto;
    }
    .select-toggle {
        margin: 8px;
        padding: 0 18px 0 3px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
        border-radius: 3px 3px 0 0;
        font-size: 0.82em;
        line-height: 24px;
    }
    .select-toggle.disabled {
        border-bottom-color: rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.5);
    }
    .select-toggle.ambiguous {
        color: rgba(0, 0, 0, 0);
    }
    .select li {
        display: block;
        min-width: 50px;
        padding: 6px 12px;
        font-size: 0.9em;
        color: #424242;
        white-space: nowrap;
        cursor: pointer;
    }
    @include control-hover-active-light(".select li");

    $color-size: 18px;
    $color-margin: 2px;
    $colors-per-row: 10;
    .color {
        padding: 10px;
        width: ($color-size + 2 * $color-margin) * $colors-per-row;
    }
    .color > li {
        display: block;
        float: left;
        margin: $color-margin;
        width: $color-size;
        height: $color-size;
        cursor: pointer;
        outline: 1px solid #FFF;
        transition: outline-color 0.135s ease;
    }
    .color > li:hover {
        outline-color: #333;
    }

    .input-container {
        position: relative;
        float: left;
        margin: ($toolbar-height - 28px) / 2 8px ($toolbar-height - 28px) / 2 0;
        input {
            display: block;
            width: 100%;
            height: 28px;
            line-height: 28px;
            padding: 0 2px;
            box-sizing: border-box;
            border-bottom: 1px solid #BFBFBF;
            background: none;
            border-radius: 0;
            font-family: inherit;
            font-size: 0.9em;
            color: #222;
            transition: border-bottom-color 0.135s ease;
        }
        input:focus {
            border-bottom-color: transparent;
        }
        input:focus ~ .input-underline {
            transform: scale(1, 1);
        }
        .input-underline {
            position: absolute;
            right: 0; bottom: 0; left: 0;
            z-index: 2;
            height: 2px;
            background: fade-out($color-theme, 0.25);
            transform: scale(0, 1);
            transition: transform 0.135s ease;
        }
    }
    #file-icon {
        color: #ABABAB;
    }
    #filename {
        width: 200px;
    }
    .action-select {
        margin: ($toolbar-height - 28px) / 2 8px;
        padding: 0 18px 0 3px;
        border-radius: 3px;
        font-size: 0.82em;
        line-height: 28px;
    }
    .text-button {
        float: left;
        margin: ($toolbar-height - 28px) / 2 8px;
        padding: 0 6px 0 4px;
        border-radius: 3px;
        font-size: 0.82em;
        line-height: 28px;
    }
    .text-button i, .action-select i {
        display: block;
        float: left;
        margin-right: 5px;
        font-size: 19px;
        line-height: 28px;
        color: #777;
        pointer-events: none;
    }
    .action-select.disabled, .text-button.disabled {
        color: rgba(0, 0, 0, 0.5);
    }
    .action-select.disabled i, .text-button.disabled i {
        color: rgba(0, 0, 0, 0.33);
    }

}
#toolbar > li {
    display: none;
}
#formula {
    font-family: $font-monospace;
    height: 28px;
    margin: ($toolbar-height - 28px) / 2 10px;
    box-sizing: border-box;
    padding: 0 2px;
    border-bottom: 1px solid #DDD;
    font-size: 0.95em;
    line-height: 27px;
    color: #424242;
    letter-spacing: 0.03em;
    overflow: hidden;
    white-space: nowrap;
    transition: border-bottom-color 0.135s ease;
}
#formula[contenteditable="true"] {
    border-bottom-color: #CCC;
    cursor: text;
}
#formula[contenteditable="true"]:focus {
    border-bottom-color: fade-out($color-theme, 0.25);
}
#formula-error {
    float: right;
    height: 28px;
    margin: 0 15px;
    font-size: 0.875em;
    color: #D33D2C;
    text-shadow: 0 0 0 #D33D2C;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 50%;
    transition: max-width 0.4s ease, margin 0.4s ease;
}
#formula-error:empty {
    margin: 0;
    max-width: 0;
}

#main {
    position: absolute;
    top: $header-height + $blocks-spacing + $toolbar-height + $blocks-spacing;
    right: $blocks-spacing;
    bottom: $blocks-spacing;
    left: $blocks-spacing;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
    overflow: hidden;
}
#container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#table {

    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #D9D9D9;
    border-radius: inherit;

    tr {
        height: 22px;
    }
    td {
        border: 1px solid #D9D9D9;
        padding: 0 2px;
        box-sizing: border-box;
        font-size: 14px;
        color: #1F1F1F;
        font-weight: 400;
        white-space: nowrap;
    }
    td.column-header, td.row-header {
        position: relative;
        background: #F3F3F3;
        background-clip: padding-box;
        font-weight: 600;
        color: #424242;
        text-align: center;
    }
    td.row-header {
        width: 70px;
        min-width: 70px;
    }
    td.column-header {
        min-width: 100px;
    }

    .dragger-vertical {
        position: absolute;
        top: 0; bottom: 0;
        right: -3px;
        width: 6px;
        cursor: ew-resize;
    }
    .dragger-horizontal {
        position: absolute;
        right: 0; left: 0;
        bottom: -3px;
        height: 6px;
        cursor: ns-resize;
    }

    $selection-border-style: 2px solid #4285F4;
    td.selected {
        box-shadow: inset 0 0 0 999px rgba(66, 133, 244, 0.11)
    }
    td.selected-first {
        box-shadow: none;
    }
    td.selection-border-right {
        border-right: $selection-border-style !important;
    }
    td.selection-border-bottom {
        border-bottom: $selection-border-style !important;
    }

    td.error {
        background-image: url(../assets/images/error.png);
        background-size: 24px 24px;
        font-weight: 600 !important;
        color: #C53929 !important;
        text-align: center !important;
    }
    td.error::after {
        content: "ERROR";
    }

}
#hidden {
    position: fixed;
    top: -99px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}
#overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    pointer-events: none;
    z-index: 65536;
}
#overlay.sensible {
    pointer-events: auto;
}
.drag-guide {
    display: none;
    position: absolute;
}
#drag-guide-vertical {
    top: 0; bottom: 0;
    width: 0;
    border-left: 1px dashed rgba(0, 0, 0, 0.5);
}
#drag-guide-horizontal {
    left: 0; right: 0;
    height: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.5);
}